<config>
	<!-- Define the default language which should be used if the language can not be detected or the client uses an invalid language -->
	<defaultlanguage>de</defaultlanguage>
	
	<!-- Define available languages -->
	<languages>
		<en>English</en>
		<de>Deutsch</de>
	</languages>
	
	<!-- Default skins (Randomly selected after register)-->
	<defaultskins>
		<male>
			<skin>2</skin>
			<skin>6</skin>
			<skin>7</skin>
			<skin>21</skin>
			<skin>98</skin>
		</male>
		<female>
			<skin>131</skin>
			<skin>150</skin>
			<skin>169</skin>
			<skin>190</skin>
			<skin>193</skin>
		</female>
	</defaultskins>
	
	<!-- Camera locations used for moving camera while login/register -->
	<logincameramovements>
		<group>
			<location time="0" easingType="">ls1</location>
			<location time="10000" easingType="OutQuad">ls2</location>
		</group>
		<group>
			<location time="0">lspd1</location>
			<location time="10000">lspd2</location>
		</group>
		<group>
			<location time="0">ls_groovestreet_gangbase1</location>
			<location time="10000" easingType="OutQuad">ls_groovestreet_gangbase2</location>
			<location time="10000" easingType="InQuad">ls_groovestreet_gangbase3</location>
		</group>
	</logincameramovements>
</config>