<config>
	<!-- Define the default language which should be used if the language can not be detected or the client uses an invalid language -->
	<defaultLanguage>de</defaultLanguage>
	
	<!-- Define available languages -->
	<languages>
		<en>English</en>
		<de>Deutsch</de>
	</languages>
	
	<!-- Default skins (Randomly selected after register)-->
	<defaultSkins>
		<male>
			<skin>7</skin>
			<skin>21</skin>
			<skin>23</skin>
			<skin>25</skin>
			<skin>98</skin>
		</male>
		<female>
			<skin>131</skin>
			<skin>150</skin>
			<skin>169</skin>
			<skin>190</skin>
			<skin>193</skin>
		</female>
	</defaultSkins>
	
	<!-- Camera locations used for moving camera while login/register -->
	<loginCameraMovements>
		<group>
			<location time="0" easingType="">ls1</location>
			<location time="5000" easingType="Linear">ls2</location>
			<location time="1000" easingType="Linear">ls3</location>
			<location time="5000" easingType="Linear">ls4</location>
			<location time="5000" easingType="Linear">ls5</location>
		</group>
		<group>
			<location time="0">lspd1</location>
			<location time="10000">lspd2</location>
		</group>
		<group>
			<location time="0">ls_groovestreet_gangbase1</location>
			<location time="10000" easingType="OutQuad">ls_groovestreet_gangbase2</location>
			<location time="10000" easingType="InQuad">ls_groovestreet_gangbase3</location>
		</group>
	</loginCameraMovements>
	
	<!-- Chat configuration -->
	<chat>
		<defaultChannel>ALL</defaultChannel>
		<format>
			<all>#FFFFFF[#00C000%playername%@%channel%#FFFFFF] %message%</all>
			<range>#FFFFFF[#00C000%playername%#FFFFFF] %message%</range>
			<action>#00FF00 *%playername% %message%</action>
		</format>
		<rangeRadius>50</rangeRadius>
	</chat>
</config>